<section>
    <section class="clinical--tools">
        <div class="container">
            <div class="clinical--tools--content">
                <h4 class="primary--title primary--title-blue">
                    Clinical tools - at a glance
                </h4>
                <div class="clinical--tools--cards--container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                         <partial src='cards/tools-card.html' img='./imgs/woman.png' alt='Dosing guide' card-title='Dosing guide' card-desc='Adtralza® has a straightforward dosing regimen, with 150 mg prefilled syringes(1). ' card-link='Learn more about application and dosing'></partial>
                        </div>
                        <div class="col-12 col-md-6">
                            <partial src='cards/tools-card.html' img='./imgs/getit.png' alt='Patient injection made simple' card-title='Patient injection made simple' card-desc='This step by step video guide shows the patient how to self inject using the two syringes that come in the Adtralza® carton. ' card-link='Watch the video'></partial>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sectionn>
</sectionn>