<section class="features">
    <div class="container">
        <div class="features--content">
            <div class="swiper-container features_slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="feature--card">
                            <div class="feature--card--header">
                                <span class="current--number current--number-blue">9</span>
                                <span class="current--number--sub">out of 19</span>
                                <span class="decoration">
                                    <img src="./imgs/decoration.svg" alt="decoration"></span>
                                </div>
                                <div class="feature--card--body">
                                    <h4 class="feature--card--body--title">Long term sustained improvement</h4>
                                    <p>
                                        9 out of 10 respondents experienced sustained disease control in clinical trials
                                        10, providing sustained improvements in the burden of disease(1,2, 1, 8*†‡).
                                    </p>
                                    <a href="#">
                                        See efficacy and trial data
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="feature--card">
                                <div class="feature--card--header">
                                    <partial src='svg/live-icon.html'></partial>
                                    <span class="decoration">
                                        <img src="./imgs/decoration.svg" alt="decoration"></span>
                                    </div>
                                    <div class="feature--card--body">
                                        <h4 class="feature--card--body--title">Long term sustained improvement</h4>
                                        <p>
                                            9 out of 10 respondents experienced sustained disease control in clinical trials
                                            10, providing sustained improvements in the burden of disease(1,2, 1, 8*†‡).
                                        </p>
                                        <a href="#">Learn more about quality of life improvements</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="feature--card">
                                    <div class="feature--card--header">
                                    <partial src='svg/safe-icon.html'></partial>
                                        
                                        <span class="decoration">
                                            <img src="./imgs/decoration.svg" alt="decoration"></span>
                                        </div>
                                        <div class="feature--card--body">
                                            <h4 class="feature--card--body--title">Long term sustained improvement</h4>
                                            <p>
                                                9 out of 10 respondents experienced sustained disease control in clinical trials
                                                10, providing sustained improvements in the burden of disease(1,2, 1, 8*†‡).
                                            </p>
                                            <a href="#">See safety profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </section>