<section>
    <div class="references " id="references">
        <div class="container">
            <div class="references--header">
                <div class="references--header--btn" tabindex="0" id="references__btn">
                    <div class="references--header--btn--icon">
                      <partial src='svg/down-arrow.html'></partial>
                    </div>
                    <span>references</span>
                </div>
            </div>
            <div class="references--body">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias accusantium pariatur quasi. Quaerat sunt earum nihil saepe, quam obcaecati inventore adipisci nam porro dolor itaque ipsum magni, molestiae nisi suscipit?</p>
                
            </div>
        </div>
    </div>
</section>