<section class="video--intro">
    <div class="container">
        <div class="video--intro--content">
            <div class="row">   
                <div class="col-12 col-lg-5 ">
                    <div class="video--intro--content--text">
                        <h4
                        class="primary--title  primary--title-blue">
                        Adtralza® neutralizes IL-13, a key driver of Atopic Dermatitis signs and
                        symptoms.
                    </h4>
                    <p>
                        By specifically targeting the IL-13 cytokine, Adtralza® inhibits the interaction
                        with type II receptors and prevents IL-13-induced inflammatory responses in the
                        skin(1,2).
                    </p>
                    <p>
                        Adtralza® selectively modulates the dysregulated immune system by(1):

                    </p>
                    <ul>
                        <li>Reducing markers of skin inflammation </li>
                        <li>Improving markers of skin barrier integrity</li>
                        <li>Reducing epidermal thickness</li>
                    </ul>
                    <partial src='btns/primary-btn.html'></partial>
                    <span class="video-duration" id="video_duration_display">Duration 2:43</span>
                    </div>
                </div>
                <div class="col-12 col-lg-7 ">
                    <div class="video--intro--content--video">
                        <video controls  class="home_video" id="home_video">
                            <source src="./imgs/intro.mp4" type="video/mp4">
                            <source src="./imgs/intro.webm" type="video/webm">
                            <p>Your browser doesn't support HTML5 video. Here is
                               a <a href="./imgs/intro.mp4">link to the video</a> instead.</p>
                          </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section