<div class="nav nav--child nav--inside nav-blue">
    <div class="container">
     <ul class="nav--list nav--child--list">
         <li class="nav--list--item nav--child--list--item "><a class="nav--list--link nav--list--link-white" href="#">Adtralza</a> </li>
         <li class="nav--list--item nav--child--list--item"><a class="nav--list--link nav--list--link-white" href="#">Diavonex</a></li>
         <li class="nav--list--item nav--child--list--item"><a class="nav--list--link nav--list--link-white" href="#">Diavobet</a></li>
         <li class="nav--list--item nav--child--list--item"><a class="nav--list--link nav--list--link-white" href="#">Enstilar</a></li>
         <li class="nav--list--item nav--child--list--item"><a class="nav--list--link nav--list--link-white" href="#">Fucidin</a></li>
         <li class="nav--list--item nav--child--list--item"><a class="nav--list--link nav--list--link-white" href="#">Kyntheum</a></li>
         <li class="nav--list--item nav--child--list--item"><a class="nav--list--link nav--list--link-white" href="#">Protopic</a></li>
         <li class="nav--list--item nav--child--list--item"><a class="nav--list--link nav--list--link-white" href="#">Skinoren</a></li>
         <li class="nav--list--item nav--child--list--item"><a class="nav--list--link nav--list--link-white" href="#">Tralokinumab</a></li>
         <li class="nav--list--item nav--child--list--item"><a class="nav--list--link nav--list--link-white" href="#">Xamiol</a></li>
     </ul>
    </div>
 </div>