<div class="nav nav--sub nav--inside nav-grey">
   <div class="container">
    <ul class="nav--list nav--sub--list">
        <li class="nav--list--item nav--sub--list--item ">
            <a class="nav--list--link nav--list--link-blue " href="#">Adtralza1</a>
            <partial src='navbar/nav-child.html'></partial>
        </li>
        <li class="nav--list--item nav--sub--list--item "><a class="nav--list--link nav--list--link-blue" href="#">Diavonex</a>
            <partial src='navbar/nav-child.html'></partial>
        </li>
        <li class="nav--list--item nav--sub--list--item"><a class="nav--list--link nav--list--link-blue" href="#">Diavobet</a>
            <partial src='navbar/nav-child.html'></partial>
        </li>
        <li class="nav--list--item nav--sub--list--item"><a class="nav--list--link nav--list--link-blue" href="#">Enstilar</a></li>
        <li class="nav--list--item nav--sub--list--item"><a class="nav--list--link nav--list--link-blue" href="#">Fucidin</a></li>
        <li class="nav--list--item nav--sub--list--item"><a class="nav--list--link nav--list--link-blue" href="#">Kyntheum</a></li>
        <li class="nav--list--item nav--sub--list--item"><a class="nav--list--link nav--list--link-blue" href="#">Protopic</a></li>
        <li class="nav--list--item nav--sub--list--item"><a class="nav--list--link nav--list--link-blue" href="#">Skinoren</a></li>
        <li class="nav--list--item nav--sub--list--item"><a class="nav--list--link nav--list--link-blue" href="#">Tralokinumab</a></li>
        <li class="nav--list--item nav--sub--list--item"><a class="nav--list--link nav--list--link-blue" href="#">Xamiol</a></li>
    </ul>
   </div>
</div>