<div class="nav nav--primary">
    <div class="container">
        <ul class="nav--list nav--primary--list">
            <li class="nav--list--item nav--primary--list--item "><a class="nav--list--link " href="#" tabindex="0">Bedingungen</a>
                <partial src='navbar/nav-sub.html'></partial>
            </li>
            <li class="nav--list--item nav--primary--list--item"><a class="nav--list--link" href="#" tabindex="0">Behandlungen</a>
                <partial src='navbar/nav-sub.html'></partial>
           
            </li>
            <li class="nav--list--item nav--primary--list--item"><a class="nav--list--link" href="#"  tabindex="0">Veranstaltungen</a></li>
            <li class="nav--list--item nav--primary--list--item"><a class="nav--list--link" href="#"  tabindex="0">Werkzeuge</a></li>
            <li class="nav--list--item nav--primary--list--item"><a class="nav--list--link" href="#" tabindex="0">Forschung und Erkenntnisse</a></li>
        </ul>
    </div>
</div>