<footer class="footer">
    <div class="container">
        <div class="footer--top">
            <div class="footer--top--logo">
              <partial src='svg/lion.html'></partial>
            </div>
            <div class="footer--top--data">
               <p><span>© Copyright LEO Pharma 2020</span>
                <span>LEO and the LEO Lion Design</span>
                <span>are registered trademarks</span>
                <span>of LEO Pharma</span>
               <span> All rights reserved</span>
               <span>LEO Pharma corporate website</span>
            </p>
            </div>
        </div>
        <div class="footer--bottom">
            <ul>
                <li  tabindex="0"><a href="#">Contact</a></li>
                <li tabindex="0"><a href="#" >imprint</a></li>
                <li tabindex="0"><a href="#" >conditions</a></li>
                <li tabindex="0"><a href="#" >terms of use</a></li>
                <li tabindex="0"><a href="#">privacy</a></li>
                <li tabindex="0"><a href="#" >cookie content</a></li>
            </ul>
        </div>
    </div>
</footer>