<header class="header">
    <div class="header-bg">
        <img src="./imgs/headerBG.jpg" alt="Header background">
    </div>
    <div class="container">
        <div class="header--text--content">
            <img src="./imgs/adtralza_global.png" alt="adtralza_global" width="7.668rem" height="5.436rem">
            <h5>
                Adtralza® is a new treatment for adult patients with moderate-to-severe atopic dermatitis (eczema) who are candidates for systemic therapy.
            </h5>
        </div>
    </div>
</header>